lattice/CO_coords.bkp
lattice/PROBE1.hist
lattice/PROBE1.loss
lattice/PROBE1.peaks
lattice/PROBE2.hist
lattice/PROBE2.loss
lattice/PROBE2.peaks
lattice/RINGDEF.loss
lattice/benchmark_lattice-20260216_placement-testing-Angle0.dat
lattice/benchmark_lattice-20260216_placement-testing-Angle1.dat
lattice/benchmark_lattice-20260216_placement-testing-Angle2.dat
lattice/benchmark_lattice-20260216_placement-testing-afterEachTurn.dat
lattice/benchmark_lattice-20260216_placement-testing-trackOrbit.dat
lattice/benchmark_lattice-20260216_placement-testing.lbal
lattice/benchmark_lattice-20260216_placement-testing.stat
lattice/data/
lattice/timing.dat
__pycache__
lattice/*.png
